<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>619485590991-i5ucih45s7t837fieqn6tqvu873jrpek.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.619485590991-i5ucih45s7t837fieqn6tqvu873jrpek</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>619485590991-hnalms8sv72ivaec2bisb8t4a8dqvj5c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA85TThGWvcinmagTWAoife-X9Ml3sV0rk</string>
	<key>GCM_SENDER_ID</key>
	<string>619485590991</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MazingLabCo.MazesForever</string>
	<key>PROJECT_ID</key>
	<string>minigames-collection-299814</string>
	<key>STORAGE_BUCKET</key>
	<string>minigames-collection-299814.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619485590991:ios:6870bb62ba6c9e7e484eba</string>
	<key>DATABASE_URL</key>
	<string>https://minigames-collection-299814-default-rtdb.firebaseio.com</string>
</dict>
</plist>